body{
	margin:0;
	padding: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.page-title{
	font-family: 'Exo 2', sans-serif;
}
.page-subtitle
{
	font-family: 'Quicksand', sans-serif;
}
a{
	color: #28a745 !important;
}
a:hover{
	color: #22923c;
}
sub a{
	font-size: 12px !important;
}
body,p,sub{
	font-family: 'Quicksand', sans-serif;
}
.header-site{
	height: auto;
}
.bottom{
	display: table-cell;
    vertical-align: bottom;
}
.padding{
	padding: 75px;
}
.padding-header{
	padding: 75px 75px 0px 0px;
}
.full-width{
	width: 100%;
	left: 0;
	right: 0;
	margin-left: 0 !important;
}
.border-box{
	box-sizing: border-box;
}
.dark-side-1{
	background: #151515;
	color: #dfe6e9;
}
.dark-main-1{
	background: #1C1C1C;
	color: #dfe6e9;
}
.dark-side-2{
	background:#1C1C1C;
	color:#dfe6e9;
}
.dark-main-2{
	background: #2E2E2E;
	color:#dfe6e9; 
}
.progress{
	background: #666;
	height: 10px;
}
.header-center{
	display:flex;
	align-items: center;
}
.title-middle{
	margin-top: auto;
	margin-bottom: auto;
}

h1.page-title{
	font-size: 5em;
	line-height: 0.9;
	font-weight: normal;
}
.page-subtitle{
	font-size: 1.4em;
	text-transform: capitalize;
	margin-top: 30px;
}
.circle{
    border-radius:100%;
}
.dark{
	color: white !important;
	background: rgba(0,0,0,0.7) !important;
}

@media (min-width: 700px) {
  	.header-site{
		height: 100vh !important;
	}
}
@media (max-width: 700px) {
	.data-contact{
		
		text-align: center !important;
	}
	.dark-side-2{
		background: #151515;
		text-align: center;
	}
	.dark-side-1{
		background: #151515;
		text-align: center;
	}
	.dark-side-2 h4{
		text-align: center !important;
	}
	.dark-side-1 h4{
		text-align: center !important;
	}
	.col-md-12.h-50.d-flex.pb-md-5{
		width: 100vw !important;
	}
}
